In [ ]:
Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [1]:
a="hello"
print(type(a))

<class 'str'>

In [2]:
list=[1,2,"john","welon",908009]
type(list)

list

In [3]:
b=456.89
type(b)

float

In [4]:
c=(1,2,3,"hello")
type(c)

tuple

Q2. Given are some following variables containing data:
(i) var1 = ' '
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable.

In [22]:
var1 = ' '
type(var1)

str

var2 = '[DS , ML , Python]'
type(var2)

In [20]:
var3 = [ 'DS' , 'ML', 'Python']
type(var3)

list

In [13]:
var4 = 1
type(var4)

int

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [25]:
# / = It is division operator and used to divide the first operand by the second
a=14/2
print(a)

7.0

In [27]:
# % = It is modulas operator and return the remainder when the first operand is divided by second
b = 55 % 10
print(b)

5

In [28]:
#  // = It is floor division operator and divides the first operand by the second
c = 45 // 20
print(c)

2

In [29]:
# ** = It is exponent operator and Returns first raised to power second
d = 20 ** 3
print(d)

8000

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [44]:
list = [1,"hello",23.4,45+5j,(1,2,3),True,{"hey:python"},[4,5],"pree",34]
for i in list:
    print(i,type(i))

1 <class 'int'>
hello <class 'str'>
23.4 <class 'float'>
(45+5j) <class 'complex'>
(1, 2, 3) <class 'tuple'>
True <class 'bool'>
{'hey:python'} <class 'set'>
[4, 5] <class 'list'>
pree <class 'str'>
34 <class 'int'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [54]:
a=(int(input("enter the 1st number")))
b=(int(input("enter the 2nd number")))
count = 0
while a % b == 0:
    count += 1
    a /= b
    print(f"{a} divides {count} times into {b}")

enter the 1st number14
enter the 2nd number2
7.0 divides 1 times into 2

Q6.Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [65]:
list=[3,9,4,18,68,90,34,78,30,27,68,45,23,65,33,20,76,12,32,55,60,80,44,21,24]
for i in list:
  
 if i % 3 ==0:
    print(i,"divisible by 3")
 else:
    print(i,"not divisible by 3")

3 divisible by 3
9 divisible by 3
4 not divisible by 3
18 divisible by 3
68 not divisible by 3
90 divisible by 3
34 not divisible by 3
78 divisible by 3
30 divisible by 3
27 divisible by 3
68 not divisible by 3
45 divisible by 3
23 not divisible by 3
65 not divisible by 3
33 divisible by 3
20 not divisible by 3
76 not divisible by 3
12 divisible by 3
32 not divisible by 3
55 not divisible by 3
60 divisible by 3
80 not divisible by 3
44 not divisible by 3
21 divisible by 3
24 divisible by 3

Q7.What do you understand about mutable and immutable data types? Give examples for both showing
this property.

In [ ]:
mutable = mutable means we can change,remove the value inserted
 list,dictionary,sets

In [71]:
# for example:
list = [2,3,4,5]
list[0]
list[2]=6 # add the new value in the position of 2
print(list)

[2, 3, 6, 5]

In [ ]:
immutable = immutable means we cannnot change the value inserted
tuple , string

In [72]:
str = "welcome to python"
str[4] = "s"
print(str)

TypeError: 'str' object does not support item assignment