Q1.Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print

In [5]:
import pandas as pd

In [7]:
s=[4,8,15,16,23,42]
df=pd.Series(s)

In [8]:
df

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [11]:
l=[23,78,34,56,90,12,67,45,56,23,15]
df1=pd.Series(l)
print(df1)

0     23
1     78
2     34
3     56
4     90
5     12
6     67
7     45
8     56
9     23
10    15
dtype: int64

Q3. Create a Pandas DataFrame that contains the following data:

In [13]:


data={"Name":["Alice","Bob","claire"],
     "Age":[25,30,27],
     "Gender":["Female","Male","Female"]
     }
d=pd.DataFrame(data)
print(d)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  claire   27  Female

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

Data sets in Pandas are usually multi-dimensional tables, called DataFrames.
Series is like a column, a DataFrame is the whole table.

In [21]:
data1={"Name":["Alice","Bob","claire"],
     "Age":[25,30,27],
     "Gender":["Female","Male","Female"]
     }

In [24]:
d=pd.DataFrame(data1)
print(d)
type(d)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  claire   27  Female

pandas.core.frame.DataFrame

In [26]:
s1=pd.Series(data1)
print(s1)
type(s1)

Name        [Alice, Bob, claire]
Age                 [25, 30, 27]
Gender    [Female, Male, Female]
dtype: object

pandas.core.series.Series

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

In [28]:
import pandas as pd
df4=pd.read_csv("diamonds.csv")
print(df4)

       carat        cut color clarity  depth  table  price     x     y     z
0       0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1       0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2       0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3       0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4       0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
49995   0.72      Ideal     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
49996   0.72       Good     D     SI1   63.1   55.0   2757  5.69  5.75  3.61
49997   0.70  Very Good     D     SI1   62.8   60.0   2757  5.66  5.68  3.56
49998   0.86    Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
49999   0.75      Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

[50000 rows x 10 columns]

In [29]:
df4.head()

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [30]:
df4.tail

<bound method NDFrame.tail of        carat        cut color clarity  depth  table  price     x     y     z
0       0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1       0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2       0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3       0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4       0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
49995   0.72      Ideal     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
49996   0.72       Good     D     SI1   63.1   55.0   2757  5.69  5.75  3.61
49997   0.70  Very Good     D     SI1   62.8   60.0   2757  5.66  5.68  3.56
49998   0.86    Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
49999   0.75      Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

[50000 rows x 10 columns]>

In [31]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   carat    50000 non-null  float64
 1   cut      50000 non-null  object
 2   color    50000 non-null  object
 3   clarity  50000 non-null  object
 4   depth    50000 non-null  float64
 5   table    50000 non-null  float64
 6   price    50000 non-null  int64
 7   x        50000 non-null  float64
 8   y        50000 non-null  float64
 9   z        50000 non-null  float64
dtypes: float64(6), int64(1), object(3)
memory usage: 3.8+ MB

In [32]:
df4.dtypes

carat      float64
cut         object
color       object
clarity     object
depth      float64
table      float64
price        int64
x          float64
y          float64
z          float64
dtype: object

In [42]:
df4.shape

(50000, 10)

In [34]:
df4.size

500000

In [35]:
df4.describe()

,carat,depth,table,price,x,y,z
count,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000
mean,0.799444,61.753006,57.457830,3944.805440,5.734403,5.737956,3.541056
std,0.475173,1.431088,2.232092,3997.938105,1.123077,1.145579,0.707065
min,0.200000,43.000000,43.000000,326.000000,0.000000,0.000000,0.000000
25%,0.400000,61.000000,56.000000,951.000000,4.710000,4.720000,2.910000
50%,0.700000,61.800000,57.000000,2410.000000,5.700000,5.710000,3.530000
75%,1.040000,62.500000,59.000000,5351.000000,6.540000,6.540000,4.040000
max,5.010000,79.000000,95.000000,18823.000000,10.740000,58.900000,31.800000

In [36]:
df4.isnull()

       carat    cut  color  clarity  depth  table  price      x      y      z
0      False  False  False    False  False  False  False  False  False  False
1      False  False  False    False  False  False  False  False  False  False
2      False  False  False    False  False  False  False  False  False  False
3      False  False  False    False  False  False  False  False  False  False
4      False  False  False    False  False  False  False  False  False  False
...      ...    ...    ...      ...    ...    ...    ...    ...    ...    ...
49995  False  False  False    False  False  False  False  False  False  False
49996  False  False  False    False  False  False  False  False  False  False
49997  False  False  False    False  False  False  False  False  False  False
49998  False  False  False    False  False  False  False  False  False  False
49999  False  False  False    False  False  False  False  False  False  False

[50000 rows x 10 columns]

In [37]:
df4.describe()

,carat,depth,table,price,x,y,z
count,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000
mean,0.799444,61.753006,57.457830,3944.805440,5.734403,5.737956,3.541056
std,0.475173,1.431088,2.232092,3997.938105,1.123077,1.145579,0.707065
min,0.200000,43.000000,43.000000,326.000000,0.000000,0.000000,0.000000
25%,0.400000,61.000000,56.000000,951.000000,4.710000,4.720000,2.910000
50%,0.700000,61.800000,57.000000,2410.000000,5.700000,5.710000,3.530000
75%,1.040000,62.500000,59.000000,5351.000000,6.540000,6.540000,4.040000
max,5.010000,79.000000,95.000000,18823.000000,10.740000,58.900000,31.800000

In [38]:
df4.nunique()

carat        272
cut            5
color          7
clarity        8
depth        181
table        126
price      11297
x            553
y            551
z            371
dtype: int64

In [39]:
df4.sample(n=8)

       carat        cut color clarity  depth  table  price     x     y     z
48209   0.57      Ideal     E    VVS2   61.5   56.0   2447  5.31  5.35  3.28
30580   0.37  Very Good     E     VS2   62.3   59.0    811  4.56  4.59  2.85
23449   1.58  Very Good     G     VS1   62.8   57.0  13963  7.34  7.40  4.63
12554   1.21  Very Good     G     SI2   62.8   60.0   5558  6.70  6.77  4.23
11611   1.20  Very Good     H     SI2   62.1   59.0   5280  6.75  6.80  4.21
10774   1.12    Premium     I     VS1   62.2   59.0   5058  6.66  6.59  4.12
18709   1.53  Very Good     E     SI2   63.1   59.0   8654  7.38  7.21  4.61
36012   0.47      Ideal     I    VVS1   61.0   56.0   1050  5.02  5.04  3.07

In [40]:
df4.memory_usage()

Index         128
carat      400000
cut        400000
color      400000
clarity    400000
depth      400000
table      400000
price      400000
x          400000
y          400000
z          400000
dtype: int64

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

ANS: series is immutable
    data frame and panel are mutable

Q7. Create a DataFrame using multiple Series. Explain with an example.

In [44]:
product=["laptop","mouse","charger"]
prize=[30000,5000,2000]
brand=["dell","hp","lenavo"]
s1=pd.Series(product)
s2 = pd.Series(prize)
s3=pd.Series(brand)

df5=pd.DataFrame([s1,s2,s3],index=["product","prize","brand"])

print(df5)

              0      1        2
product  laptop  mouse  charger
prize     30000   5000     2000
brand      dell     hp   lenavo